name: API CI

on:
  push:
    branches: [ main ]
    paths: [ 'api/**' ]

jobs:
  build:
    runs-on: ubuntu-latest
    service:
      postgres:
        image: postgres:16-alpine
        env:
          POSTGRES_USER: minibo
          POSTGRES_PASSWORD: minibo
          POSTGRES_DB: minibo
        ports:
          - 5432:5432
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
    defaults:
      run:
        working-directory: api
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version-file: 'api/go.mod'
          cache-dependency-path: 'api/go.sum'
      - name: Install dependencies
        run: go mod download
      - name: Run static test
        run: go vet ./...
      - name: Run test
        run: go test -v ./...
