name: API CI

on:
  push:
    branches: [ main ]
    paths: [ 'api/**' ]

jobs:
  build:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: api
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version-file: 'api/go.mod'
          cache-dependency-path: 'api/go.sum'
      - name: Install dependencies
        run: go mod download
      - name: Run static test
        run: go vet ./...
      - name: Run test
        run: go test -v ./...
